/* Tomas Dessy */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

:root {
    font-family: 'Montserrat', sans-serif;
}


.container {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #AAA;
}

main {
    border: 2px solid #000;
    padding: 30px;

    display: grid;
    grid: 1fr min-content / 1fr;
    place-items: center;
    gap: 10px;
    z-index: 0;

    background-color: #fff;
    box-shadow: 0px 20px 20px -10px #000;
    border-radius: 5px;
}


.board-wrap {
    width: 400px;
    height: 400px;

    border: 1px solid #000;
    box-shadow: inset 0px 10px 20px -5px #000;
    border-radius: 5px;

    display: grid;
    grid: repeat(3, 1fr) / repeat(3, 1fr);
}

.cell {
    padding: 10%;
    border: 1px solid #000;

    text-align: center;
    font-size: 5rem;
}



.display {
    display: grid;
    grid: 1fr / repeat(2, 1fr);

    border: 2px solid #000;
    padding: 10px;

    width: 600px;
    gap: 10px;
    margin: 0 -100px;

    background-color: #fff;
    box-shadow: 0px 10px 20px -10px #000;

    position: relative;
    z-index: 2;
}
.player1,
.player2 {
    display: grid;
    place-items: center;

    border: 2px solid #000;
    background-color: #CCC;

    position: relative;
    z-index: 1;
}
.player1 {
    grid: 1fr / 1fr min-content;
}
.player2 {
    grid: 1fr / min-content 1fr;
}

.player1 p,
.player2 p {
    font-size: 2.2rem;
    white-space: nowrap;
    text-align: center;
}

.count {
    font-size: 3rem;

    outline: 1px solid #000;

    width: min-content;
    padding: 0 10px;
}

.wrapper {
    width: 100%;
    position: absolute;
    z-index: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    top: 75%;
}

.symbol1,
.symbol2 {
    font-size: 5rem;
    text-align: center;
    border: 2px solid #000;
    padding: 0 10px;
    width: min-content;

    background-color: #FFF;
    box-shadow: 0px 10px 20px -10px #000;
}

.hidden {
    display: none !important;
}

.gameboard {
    position: relative;
}

.start-container {
    position: absolute;
    top: 0px;

    width: 100%;
    height: 100%;
    background-color: #fff;

    display: grid;
    justify-content: center;
    align-items: center;
}

#start-game {
    padding: 5px 15px;
    font-size: 3rem;

    border: 2px solid #000;
    border-radius: 5px;
    box-shadow: 0px 5px 10px -5px #000;
}
#start-game:active {
    transform: translateY(5px);
    box-shadow: none;
}

#symbol1,
#symbol2 {
    display: grid;
    grid: 1fr / min-content min-content;
    place-content: center;
    gap: 15px;
}
#symbol1 div,
#symbol2 div{
    width: 60px;
    height: 60px;
    text-align: center;
    border: 2px solid #000;
    font-size: 3rem;
    box-shadow: 0px 5px 5px -2px #000;
}
#symbol1 div:hover,
#symbol2 div:hover{
    transform: translateY(1px);
}
#symbol1 div:active,
#symbol2 div:active{
    transform: translateY(2px);
    box-shadow: none;
}
#name1,
#name2 {
    display: grid;
    place-content: center;
    place-items: center;
}
#name1 input,
#name2 input {
    font-size: 2rem;
    text-align: center;
    width: 70%;

    box-shadow: 0px 10px 10px -10px #000;
    border: 1px solid #000;
}
#name1 input:focus,
#name2 input:focus {
    outline: none;
}


.endgame-container {
    position: absolute;
    top: 0px;

    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);

    display: flex;
    flex-direction: column;
    gap: 3vw;
    justify-content: center;
    align-items: center;
}

.endgame-container p {
    font-size: 2rem;
    font-weight: 500;
    padding-bottom: 3vw;
}

#new-round,
#new-game {
    padding: 5px 15px;
    font-size: 2rem;

    border: 2px solid #000;
    border-radius: 5px;
    box-shadow: 0px 10px 20px -10px #000;
}
#new-round:active, 
#new-game:active {
    transform: translateY(5px);
    box-shadow: none;
}

.turn {
    background-color: pink;
}


@media (max-width: 600px) {
    .board-wrap {
        width: 70vw;
        height: 70vw;
    }

    main {
        padding: 5vw;
    }

    .display {
        width: 95vw;
    }

    .cell {
        font-size: 13vw;
    }
    .player1 p,
    .player2 p {
        font-size:  6vw;
    }
    .symbol1,
    .symbol2 {
        font-size: 13vw;

        bottom: -90px;
        left: calc(280px / 2 - 90px / 2);
    }
    .count {
        font-size: 8vw;
    }

    #start-game {
        font-size: 6vw;
    }

    #new-round,
    #new-game {
        font-size: 4vw;
    }
    .endgame-container p {
        font-size: 5vw;
    }

    #name1 input,
    #name2 input {
        font-size: 6vw;
    }

    #symbol1 div,
    #symbol2 div{
        width: 13vw;
        height: 13vw;
        font-size: 10vw;
    }
}